.loading{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    max-width: 100%;
}

.loading > div{
    width: 10vmax;
    height: 10vmax;
    /* background-color: tomato; */
    /* border-bottom: 5px solid rgb(110, 110, 110); */
    border-bottom: 5px solid tomato;
    border-radius: 50%;
    /* agar linear nahi denge to in 1 rotation end me slow ho phirse fast hoke slow hoga etc */
    animation: loadingRotate 800ms linear infinite;
}

@keyframes loadingRotate {
    to{
        transform: rotateZ(360deg);
    }
}